[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
python-dotenv = "*"
passlib = "*"
bcrypt = "==4.0.1"
pyjwt = "*"
alembic = "*"
pydantic = {extras = ["email"], version = "*"}
cloudinary = "*"
python-multipart = "*"
uvicorn = {extras = ["standard"], version = "*"}

[dev-packages]

[requires]
python_version = "3.14"
